[Unit]
Description=Cosmovisor
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="DAEMON_HOME=/home/{{ user }}/{{ root }}"
Environment="DAEMON_RESTART_AFTER_UPGRADE=true"
Environment="DAEMON_ALLOW_DOWNLOAD_BINARIES=false"
Environment="DAEMON_NAME={{ binary }}"
Environment="DAEMON_LOG_BUFFER_SIZE=512"
Environment="UNSAFE_SKIP_BACKUP=true"
Type=simple
Restart=always
RestartSec=3
User={{ user }}
ExecStart=/home/{{ user }}/go/bin/cosmovisor start --rpc.laddr tcp://0.0.0.0:{{ p2p_port }}

[Install]
WantedBy=multi-user.target
